laravel:
  container_name: laravel
  build: .
  ports:
   - "8080:80"
  environment:
    # bargeでは、/usr/local/binも追加しておかないと起動できない。
    PATH: ${PATH}:/usr/local/bin:/root/.composer/vendor/bin
  volumes:
    - ./laravel-app:/var/www/html
    - ./config/apache2/sites-available:/etc/apache2/sites-available
  links:
    - laravel-db

laravel-db:
  image: mysql:5.6
  container_name: laravel-mysql5.6
  command: mysqld --character-set-server=utf8 --collation-server=utf8_general_ci --init-connect="SET NAMES utf8" --innodb_file_per_table=1 --innodb_file_format=BARRACUDA
  environment:
    MYSQL_ROOT_PASSWORD: pass
    MYSQL_DATABASE: laravel
  ports:
    - "13306:3306"
  volumes_from:
    - laravel-dbdata

laravel-dbdata:
  image: mysql:5.6
  container_name: laravel-mysql5.6-dbdata
  command: echo "Data-only container for laravel MySQL5.6"

