body {
    padding-top: 200px;
}

.lead {
    margin: 10px auto;
    height: 200px;
    width: 2000px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.btn-conbutton,
.btn-conbutton:hover {
    background-color: #2e6da4;
    color: #fff;
    border-radius: 0px;
    font-size: 15px;
}

.btn-conbutton:active{
    background-color: #ccc;
}

.input-group {
    margin: 5px auto;
    width: 150px;
}
